header.header
  nav.navbar
    a(href="").logo
      img(src="static/images/content/mim_logo.svg", alt="логотип")
    .btn__group
      a(data-remodal-target="modal").btn.mr-15 Contact
      a(href="index_de.html").btn DE
  .row
    .col-xl-6
      .header__title Business Software Development
      .header__text For 17 years, we have been developing fast-payback software and hardware for banks and financial organizations, start-ups, ccountants, lawyers and other interested in IT parties.
    .col-xl-6
      .wrapper-img
        img.header-img(src="static/images/content/pics/1.png", alt="image1")
  .title__mini Our clients:
  .row.grafic
    .col-sm-4
      //- .grafic__header(style={"background-image":"url(static/images/content/background.png)"})
      img(src="static/images/content/grafic1.svg", alt="grafic")
      .grafic__title reduce transaction costs;
    .col-sm-4
      //- .grafic__header(style={"background-image":"url(static/images/content/background1.png)"})
      img(src="static/images/content/grafic2.svg", alt="grafic")
      .grafic__title increase sales and company’s income;
    .col-sm-4
      //- .grafic__header(style={"background-image":"url(static/images/content/background2.png)"})
      img(src="static/images/content/grafic3.svg", alt="grafic")
      .grafic__title improve their business and profitability.
section.company
  .block-title
    .block-title__main MIM Software Company
    .block-title__subtitle We have been developing business software since 2003.
  .row.statistic
    .col-sm-6
      .statistic__title 250
      .statistic__text completed projects — from simple decisions to complex services and work with hardware.
    .col-sm-6
      .statistic__title 43
      .statistic__text workers employed. Also, more than 50 contractors that have been tested over decades for specific technologies and legacy language.
  .title__mini Our clients comprise:
  .clients
    .clients__item
      img(src="static/images/content/clients/image1.png", alt="Клиент")
    .clients__item
      img(src="static/images/content/clients/image2.png", alt="Клиент")
    .clients__item
      img(src="static/images/content/clients/image3.png", alt="Клиент")
    .clients__item
      img(src="static/images/content/clients/image4.png", alt="Клиент")
    .clients__item
      img(src="static/images/content/clients/image5.png", alt="Клиент")
section.activites
  .block-title
    .block-title__main Our key activities
    .block-title__subtitle We have been developing business software since 2003!
  .content-wrap
    .card
      .card__header(style={"background-image":"url(static/images/content/pics/1copy.png)"})
        img(src="static/images/content/pics/1copy.png", alt="activites")
      .card__title CRM/ERP-Business Systems
      .card__text Creation of a unified information space in the company, implementation of tasks and projects management system, CRM, and automation of business processes with server and cloud applications.
    .card
      .card__header
        img(src="static/images/content/pics/2copy.png", alt="activites")
      .card__title Mobile Apps
      .card__text Design of mobile apps that provide additional touch points in the client communication, sales pipeline, or internal service for a company and personnel.
    .card
      .card__header
        img(src="static/images/content/pics/4.png", alt="activites")
      .card__title Services and Portals
      .card__text Design of complex services and portals ready to work with a large amount of traffic to ensure performance and suit the audience needs.
  .block-title
    .block-title__subtitle We solve complex, research, <br> field-specific and deep technology tasks.
  .content-wrap
    .card.card--two
      .card__header
        img(src="static/images/content/pics/3copy.png", alt="activites")
      .card__title Hardware
      .card__text Design of projects together with software and hardware. Terminalsystems, video walls, counters, security control systems, and more.
    .card.card--two
      .card__header
        img(src="static/images/content/pics/5copy.png", alt="activites")
      .card__title Technical Assistance
      .card__text Taking of all activities in design and support of accounting software, servers and portals so you can reduce financial IT-staff cost.
    .card.card--two
      .card__header
        img(src="static/images/content/pics/4copy.png", alt="activites")
      .card__title AI and Machine Learning
      .card__text Design of infrastructure projects with artificial intellect technologies (AI), machine learning, and big data analysis.
    .card.card--two
      .card__header
        img(src="static/images/content/pics/6copy.png", alt="activites")
      .card__title Online Stores and E-COMMERCE
      .card__text Design of solution sets for online stores and E-COMMERCE platforms capable of providing complete automation of business processes.
  .line
    img(src="static/images/content/lines.png", alt="lines")
section.examples
  .block-title
    .block-title__main Examples of our projects
    .block-title__subtitle Our portfolio is comprised of more than hundred mobile apps and games, a variety of data parsers, and automation modules!
  .computer
    img(src="static/images/content/pics/9.png", alt="comp")
    .content-wrap.minus-margin.bottom-line
      .card.card--blue
        .card__title Design of Graphic <br> Editor for MacOS
        .card__text Design of an innovative graphic editor- a multi-purpose tool for scribing that operates on MacOS and has no direct equivalents in the market. The scriber helps speakers create fast and beautiful presentations for their speeches.
      .card.card--blue
        .card__title Programs Used in More <br> than 50 Countries of the World
        .card__text In two years, we developed more than ten software programs on Windows platform for Hamstersoft. ZIP Archiver for business, EBook Converter, Audio and Video Converter, Woman Calendar, and other programs.
      .card.card--blue
        .card__title Software Applications <br> for Security Services
        .card__text Design of software for security service. Number Recognition System, E-Safe Control System, Server for Multi-Threaded Audio Converter, and many other.
  .block-title
    .block-title__subtitle Design and development of: payment systems for a leading bank of Russia, CRM-systems for state and private companies!
  .content-wrap.bottom-line
    .card.card--blue
      .card__header
        img(src="static/images/content/pics/10.png", alt="activites")
      .card__title Set of Projects for <br> Financial Companies
      .card__text Automation of company’s business processes, integration with a variety of state systems, scoring, and accounting systems. Assistance with a transfer of business to online framework in order to reduce financial cost for staff and offices and increase income.
    .card.card--blue
      .card__header
        img(src="static/images/content/pics/11.png", alt="activites")
      .card__title Mobile Apps for Energy <br> Company
      .card__text Design of Android app for technical assistance personnel of an energy company. The app helps inspectors register counter data in the obile app. It works on over-protected data communication path.
    .card.card--blue
      .card__header
        img(src="static/images/content/pics/12.png", alt="activites")
      .card__title App for Rompetrol <br> Bonus Program
      .card__text Design of mobile app for Rompetrol loyalty program. App increases loyalty of clients and as a result company’s income. The user can onitor fuel consumption rate, collect loyalty points, andrequest different auto services.
  .block-title
    .block-title__subtitle — Once we designed a project of ultra-high-speed Internet link for transatlantic data transfer!
  .content-wrap.bottom-line
    .card.card--blue
      .card__header
        img(src="static/images/content/pics/13.png", alt="activites")
      .card__title CRM-System for Accountants
      .card__text Design of a CRM-System for accounting company’s business processes automation; further product launch for commercialbased use by third party companies. The new system takes into account all aspects of accounting.
    .card.card--blue
      .card__header
        img(src="static/images/content/pics/14.png", alt="activites")
      .card__title Online Ticket Sales System <br> for Amusement Park
      .card__text Automation of tickets sale and booking processes, speed increase, improvement of the buyers’ friendliness. Realization of integrations with a variety of other systems. Now it is possible to buy tickets without queues, in a couple of minutes.
    .card.card--blue
      .card__header
        img(src="static/images/content/pics/15.png", alt="activites")
      .card__title App for Block of <br> Flats Management
      .card__text App design for a start-up. Mobile app helps to residents send readings, hold communal meetings and voting, chat with neighbors and representatives of a service company, and receive headline news.
footer.footer
  .contact(style={"background-image":"url(static/images/content/footer.png)"})
    .contact__text To discuss your tasks, please contact us.
    a(data-remodal-target="modal").btn Contact
  .footer-text We are ready to conduct a preliminary survey of your business processes, existing IT systems and current plans for free and then offer concrete steps to increase scope, sales, and profits.


.remodal(data-remodal-id='modal', data-remodal-options='hashTracking: true, closeOnOutsideClick: true')
  button.remodal-close(data-remodal-action='close')
  h2 Contact
  a(href="tel:+79993454556").remodal__link +7 999 345 45 56
  a(href="tel:+79993454556").remodal__link +7 999 345 45 56
  a(href="mailto:contact@mimsoftware.com").remodal__link.remodal__link--mail contact@mimsoftware.com
