header.header
  nav.navbar
    a(href="").logo
      img(src="static/images/content/mim_logo.svg", alt="логотип")
    .btn__group
      a(data-remodal-target="modal").btn.mr-15 Contact
      a(href="index.html").btn ENG
  .row
    .col-xl-6
      .header__title Entwicklung von Software für Business
      .header__text Seit 17 Jahren stellen wir die sich schnell amortisierenden Software und Hardware her, für Banken und Finanzorganisationen, Startups, sowie für Buchhalter, Anwälte und andere Personen, die am IT-Produkt interessiert sind.
    .col-xl-6
      img.header-img(src="static/images/content/pics/1.png", alt="image1")
  .title__mini Unsere Kunden:
  .row.grafic
    .col-sm-4
      //- .grafic__header(style={"background-image":"url(static/images/content/background.png)"})
      img(src="static/images/content/grafic1.svg", alt="grafic")
      .grafic__title reduzieren Betriebskosten;
    .col-sm-4
      //- .grafic__header(style={"background-image":"url(static/images/content/background1.png)"})
      img(src="static/images/content/grafic2.svg", alt="grafic")
      .grafic__title erhöhen den Absatz und Unternehmensgewinn;
    .col-sm-4
      //- .grafic__header(style={"background-image":"url(static/images/content/background2.png)"})
      img(src="static/images/content/grafic3.svg", alt="grafic")
      .grafic__title erhöhen Effektivität und Einträglichkeit ihres Business.
section.company
  .block-title
    .block-title__main MIM Software
    .block-title__subtitle Wir beschäftigen uns mit der Entwicklung von Software für Business seit 2003.
  .row.statistic
    .col-sm-6
      .statistic__title 250
      .statistic__text abgeschlossene Projekte — von einfachen Lösungen bis komplizierte Services und Hardware- Arbeit.
    .col-sm-6
      .statistic__title 43
      .statistic__text der Personalbestand aus 43 Mitarbeiter. Sowie haben wir mehr als 50 durch Jahrzehnte geprüfte Auftragnehmer für spezifische Technologien und veraltete Sprachen.
  .title__mini Zu unseren Kunden zählen:
  .clients
    .clients__item
      img(src="static/images/content/clients/image1.png", alt="Клиент")
    .clients__item
      img(src="static/images/content/clients/image2.png", alt="Клиент")
    .clients__item
      img(src="static/images/content/clients/image3.png", alt="Клиент")
    .clients__item
      img(src="static/images/content/clients/image4.png", alt="Клиент")
    .clients__item
      img(src="static/images/content/clients/image5.png", alt="Клиент")
section.activites
  .block-title
    .block-title__main Hauptaktivitäten
    .block-title__subtitle Wir beschäftigen uns mit der Entwicklung von Software für Business seit 2003!
  .content-wrap
    .card
      .card__header
        img(src="static/images/content/pics/1copy.png", alt="activites")
      .card__title CRM/ERP-Systeme für Business
      .card__text Wir schaffen einen integralen Informationsraum in der Firma, implementieren ein Aufgaben-, Projekt- und CRM-Managementsystem, automatisieren Business-Prozesse mit der Hilfe von Cloud- und Serverlösungen.
    .card
      .card__header
        img(src="static/images/content/pics/2copy.png", alt="activites")
      .card__title Mobile Apps
      .card__text Wir entwickeln mobile Apps, die einen zusätzlichen Kontaktpunkt mit dem Kunden, eine Vertriebsschiene oder einen internen Service für die Firma und ihre Mitarbeiter bereitstellen.
    .card
      .card__header
        img(src="static/images/content/pics/4.png", alt="activites")
      .card__title Services und Portale
      .card__text Entwicklung von komplexen Services und Portalen, die bereit sind, viel Verkehr zu empfangen, die Produktivität sicherzustellen und die Bedürfnisse der Kunden zu erfüllen.
  .block-title
    .block-title__subtitle Wir lösen komplizierte, forschende, <br> engspezialisierte und wissensintensive Aufgaben.
  .content-wrap
    .card.card--two
      .card__header
        img(src="static/images/content/pics/3copy.png", alt="activites")
      .card__title Hardware
      .card__text Wir entwickeln Projekte in Verbindung mit Soft- und Hardware. Terminalsysteme, Videowände, Zähler, Zutrittskontrollsysteme und viel mehr.
    .card.card--two
      .card__header
        img(src="static/images/content/pics/5copy.png", alt="activites")
      .card__title Technischer Support
      .card__text Wir nehmen auf uns alle Aufgaben betreffend Entwicklung und Wartung von Abrechnungsprogrammen, Servern und Portalen, damit Sie den finanziellen Kosten der Wartung von IT-Personal reduzieren können.
    .card.card--two
      .card__header
        img(src="static/images/content/pics/4copy.png", alt="activites")
      .card__title AI und Maschinelles Lernen
      .card__text Entwicklung von Infrastrukturprojekten unter Anwendung von Technologien der artifiziellen Intelligenz (AI), maschinellem Lernen und Massdatenanalyse.
    .card.card--two
      .card__header
        img(src="static/images/content/pics/6copy.png", alt="activites")
      .card__title Internet-Geschäfte und E-COMMERCE
      .card__text Entwicklung von Lösungsreihen für Internet-Geschäfte und E- COMMERCE Plattformen, die eine vollständige Automatisierung von Geschäftsprozessen ermöglichen.
  .line
    img(src="static/images/content/lines.png", alt="lines")
section.examples
  .block-title
    .block-title__main Beispiele unserer Arbeit
    .block-title__subtitle Unser Portfolio umfasst mehr als hundert mobile <br> Applikationen und Spielen, verschiedene Datenparser und<br>Automatisierungsmodule!
  .computer
    img(src="static/images/content/pics/9.png", alt="comp")
  .content-wrap.minus-margin.bottom-line
    .card.card--blue
      .card__title Entwicklung von <br> Grafiksoftware für MacOS
      .card__text Wir haben einen progressiven Grafikeditor geschafft – es ist ein universelles Schreibwerkzeug, das unter MacOS läuft und einzigartig ist.Das Schreibwerkzeug hilft den Speakern schnelle und schöne Präsentationen für ihre Auftritte zu schaffen.
    .card.card--blue
      .card__title Programme, die in mehr als 50 <br> Ländern der Welt benutzt werden
      .card__text Seit 2 Jahren haben wir mehr als zehn Software-Produkte auf der Windows- Plattform für das Unternehmen Hamstersoft entwickelt.ZIP-Archivator für Business, E-Book- Konverter, Audio- und Video- Konverter, Damenkalender und andere Programme.
    .card.card--blue
      .card__title Programmkomplexe für <br> Sicherheitsdienste
      .card__text Entwicklung von Software für einen Sicherheitsdienst. Nummernerkennungssystem, Verwaltungssystem für den elektronischen Safe, Server für mehrströmige Kodeumsetzung des Audio-Verkehrs und vieles mehr.
  .block-title
    .block-title__subtitle Wir haben auch Folgendes projektiert und entwickelt: Zahlungssystem für eine <br> leitende Bank in Russland, CRM-Systeme für staatliche und private Unternehmen!
  .content-wrap.bottom-line
    .card.card--blue
      .card__header
        img(src="static/images/content/pics/10.png", alt="activites")
      .card__title Eine Reihe von Projekten für <br> Finanzunternehmen
      .card__text Wir haben Business-Prozesse des Unternehmens automatisiert, Integrationen mit unterschiedlichen Staatssystemen, Scoring und Erfassungssystemen durchgeführt. Wir haben auch dem Unternehmen geholfen, das Business in die Online- Umwelt zu übertragen, die Personal- und Bürokosten zu reduzieren und Einkommen zu erhöhen.
    .card.card--blue
      .card__header
        img(src="static/images/content/pics/11.png", alt="activites")
      .card__title Mobile App für <br> Energieunternehmen
      .card__text Entwicklung von einer Android-App für technisches Personal eines Energieunternehmens. Diese App hilft den Kontrollern die Zählerdaten in der mobilen App zu erfassen. Die App läuft auf einem hochgesicherten Datenübertragungskanal.
    .card.card--blue
      .card__header
        img(src="static/images/content/pics/12.png", alt="activites")
      .card__title App für ein Rompetrol <br> Bonusprogramm
      .card__text Entwicklung von einer mobilen App für ein Rompetrol Bonusprogramm. Die App erhöht Kundenloyalität und Unternehmenseinkommen als Folge. In der App kann man den Autoverbrauch beobachten, Bonus sammeln, verschiedene Auto- Dienstleistungen bestellen.
  .block-title
    .block-title__subtitle — Wir hatten auch die Möglichkeit, einen überschnellen <br> Internet-Kanal für Datenübertragung über den <br> Atlantischen Ozean zu projektieren!
  .content-wrap.bottom-line
    .card.card--blue
      .card__header
        img(src="static/images/content/pics/13.png", alt="activites")
      .card__title CRM-System für Buchhalter
      .card__text Wir haben ein CRM-System für Automatisierung der Business- Prozesse eines Buchhaltungsunternehmens entwickelt; danach erfolgte die Einführung des Produkts zur kommerziellen Verwendung durch Fremdfirmen. Das neue System zieht alle Aspekte des Buchhaltungswesens in Betracht.
    .card.card--blue
      .card__header
        img(src="static/images/content/pics/14.png", alt="activites")
      .card__title System für Online-Verkauf der <br> Tickets für einen
      .card__text Wir haben die Verkaufs- und Buchungsprozesse automatisiert, erleichtert und bequemer für Kunden gemacht. Wir haben auch viele Integrationen mit anderen Services durchgeführt. Jetzt kann man die Tickets ohne Wartezeit im Laufe von einigen Minuten kaufen.
    .card.card--blue
      .card__header
        img(src="static/images/content/pics/15.png", alt="activites")
      .card__title App <br> für Wohnblockverwaltung
      .card__text Entwicklung von einer App für Startup. Die mobile App hilft den Bewohnern Zählerangaben zu senden, Haussammlungen und -abstimmungen durchzuführen, mit Nachbarn und Vertretern des Service-Unternehmens zu chatten, Kurznachrichten zu bekommen.
footer.footer
  .contact(style={"background-image":"url(static/images/content/footer.png)"})
    .contact__text Bitte, kontaktieren Sie uns, um Ihre Aufgaben mit uns zu besprechen.
    a(data-remodal-target="modal").btn Contact
  .footer-text Wir sind bereit, eine kostenlose vorläufige Prüfung Ihrer Business-Prozesse, sowie bestehender IT- Systeme und aktueller Pläne durchzuführen, und dann – die konkreten Schritte zur Steigerung vom Umfang, Umsatz und Gewinn vorzuschlagen.

.remodal(data-remodal-id='modal', data-remodal-options='hashTracking: true, closeOnOutsideClick: true')
  button.remodal-close(data-remodal-action='close')
  h2 Contact
  a(href="tel:+79993454556").remodal__link +7 999 345 45 56
  a(href="tel:+79993454556").remodal__link +7 999 345 45 56
  a(href="mailto:contact@mimsoftware.com").remodal__link.remodal__link--mail contact@mimsoftware.com